target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/*Report/
.mvn/*Repository/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.profiler

.idea/
*.iml
*.ipr
*.iws

.DS_Store

*.asc
git.properties

**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

/src/main/ci-script/lib_ci_lines_deleted.sh
/src/main/ci-script/lib_ci_previous_release.sh
/src/main/ci-script/vars*.*
