target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/.mvn/profiler-report/
/.mvn/wagonRepository/
/.m2/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.profiler

.idea/
*.iml
*.ipr
*.iws

.DS_Store

*.asc
git.properties
*.versionsBackup
/settings-security.xml
.vagrant

*.log

/*.tar.gz
/*.zip

snapshot
**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

/clean_*_logs.sh

/src/main/ci-script/lib_ci_lines_deleted.sh
/src/main/ci-script/lib_ci_previous_release.sh
/src/main/ci-script/vars*.*
/src/site/markdown/MVN_MULTI_STAGE_BUILD.md
